body {
  background-color: #262626;
  color: #fafafa;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  color: #fafafa;
  text-align: center;
  font-size: calc(20px + 6vmin);
}

button {
  border: none;
  border-radius: 2px;
  color: white;
}
button .card-button {
  position: relative;
  background: none;
  border: none;
  width: 4vmin;
  height: 4vmin;
  left: 80%;
  top: 30%;
}

.root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 30px;
  background-color: #5a5a5a;
  height: 60px;
}
.Navbar .button {
  color: white;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: bold;
}
.Navbar p {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

.NavButtonList {
  display: flex;
  flex-grow: 2;
  gap: 5%;
}

.NavGuest {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  border-right: 5%;
}
.NavGuest div {
  margin-top: 0.75vh;
  margin-right: 0.5vw;
}

.NavUserInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}
.NavUserInfo p {
  white-space: nowrap;
  padding-left: 1vh;
  padding-right: 2vh;
}
.NavUserInfo img {
  width: 80%;
  height: 80%;
  padding-top: 2%;
  padding-right: 0.2vw;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
.Login .content {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Login button {
  width: calc(9px + 30vmin);
  height: calc(3px + 10vmin);
  font-size: calc(20px + 2vmin);
  margin-top: 5%;
}
.Login .buttons {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
}
.Login .image {
  width: calc(40px + 20vmin);
  height: calc(40px + 20vmin);
}

.Pools {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}

.PoolList {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1;
  width: 450px;
}
.PoolList b {
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.PoolList button {
  font-size: 20px;
  background-color: transparent;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.PoolList button:hover {
  background-color: #8c8c8c;
}

.PoolSideBar {
  display: flex;
  flex-direction: column;
  background-color: #3f4041;
}

.PoolButtons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-style: solid;
  border-top-color: #262626;
}
.PoolButtons img {
  width: 80px;
  height: 80px;
}
.PoolButtons button {
  background-color: transparent;
}

.NewPoolButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-style: solid;
  border-top-color: #262626;
  height: 10%;
}
.NewPoolButton button {
  font-size: 40px;
  background-color: transparent;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}
.NewPoolButton button:hover {
  background-color: #8c8c8c;
}

.PoolInfo {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.PoolInfoTitle {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.PoolInfoTitle b {
  text-align: center;
  font-size: 35px;
}
.PoolInfoTitle p {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.NewPoolInfo {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NewPoolInfo div {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.NewPoolInfo b {
  font-size: 100px;
}
.NewPoolInfo input[type=number] {
  font-size: 25px;
  width: 60px;
}
.NewPoolInfo input[type=submit] {
  color: #fafafa;
}
.NewPoolInfo label {
  font-size: 30px;
}

.PoolFighterCardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.PoolFighterCard {
  display: inline-block;
  margin: 20px;
}
.PoolFighterCard p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.NewPoolSubmit {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 125px;
  height: 45px;
  background-color: #40a9ff;
  font-size: 25px;
}

.PoolGameList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.GameBoardSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.GameBoardSpace b {
  text-align: center;
  font-size: 20px;
}

.header {
  display: flex;
  font-size: calc(40px + 8vmin);
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.Cell {
  position: relative;
  width: 26.66%;
  height: 80%;
  display: inline-block;
}
.Cell img {
  width: 100%;
  height: 100%;
}
.Cell button {
  position: absolute;
  border: none;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
}

.card {
  position: relative;
  display: flex;
  left: 2vw;
  width: 45vw;
}

.card-info {
  display: inline-block;
  width: 60%;
}
.card-info .name {
  color: #f5f5f5;
  font-size: calc(2px + 2vmin);
}
.card-info .desc {
  color: #dbdbdb;
  font-size: calc(2px + 2vmin);
}
.card-info .card-button {
  flex-grow: 1;
}

.Select ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-top: 20px;
  list-style: none;
  background-color: #8c8c8c;
  display: inline-block;
  overflow-y: scroll;
  position: fixed;
  width: 55%;
  height: 60%;
  top: 30%;
  left: 5%;
}

.SingleArena {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 20fr 1fr;
  grid-template-areas: "leftsidebar header rightsidebar" "leftsidebar content rightsidebar" "footer footer footer";
}
.SingleArena header {
  grid-area: header;
}
.SingleArena .main {
  grid-area: content;
  height: 60vmin;
  width: 60vmin;
  padding: 5%;
}

.board {
  position: relative;
  background-image: url("images/Tic-Tac-Toe.svg");
  width: 100%;
  height: 100%;
}
.board li {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 33.33%;
}

.card-info .name {
  color: #f5f5f5;
  font-size: calc(2px + 2vmin);
}
.card-info .desc {
  color: #dbdbdb;
  font-size: calc(2px + 2vmin);
}

.card-button button {
  position: relative;
  background: none;
  border: none;
  width: 4vmin;
  height: 4vmin;
  left: 80%;
  top: 30%;
}
.card-button img {
  position: relative;
  width: 10vmin;
  height: 10vmin;
}

.side-bar {
  position: fixed;
  flex-direction: column;
  right: 10%;
  width: 20%;
  top: 30%;
}
.side-bar b {
  font-size: calc(7.5px + 2.5vmin);
}
.side-bar p {
  font-size: calc(6px + 2vmin);
}
.side-bar button {
  margin: 10px;
}

.leftsidebar {
  grid-area: leftsidebar;
}

.rightsidebar {
  grid-area: rightsidebar;
}

.side-bar button, .side button {
  width: calc(30px + 15vmin);
  height: calc(10px + 5vmin);
  font-size: calc(5px + 2vmin);
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.legend {
  display: flex;
  -moz-column-gap: 1vmin;
       column-gap: 1vmin;
  justify-content: space-between;
}
.legend p {
  font-size: calc(9px + 3vmin);
  -webkit-margin-before: 2vmin;
          margin-block-start: 2vmin;
  -webkit-margin-after: 2vmin;
          margin-block-end: 2vmin;
}
.legend img {
  width: calc(6.75px + 2.25vmin);
  padding-top: 2.2%;
}

.side-bar .choices {
  position: fixed;
  width: 20%;
  height: 40%;
  top: 40%;
}
.side-bar .current-selection {
  position: absolute;
  width: 45%;
  height: 100%;
}
.side-bar button {
  margin: 10px;
}

.options {
  position: fixed;
  bottom: 5%;
}

.fill-ul {
  list-style: none;
  padding-top: 0%;
  -webkit-margin-before: 0%;
          margin-block-start: 0%;
  -webkit-margin-after: 0%;
          margin-block-end: 0%;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.deselected {
  background-color: #8c8c8c;
}

.selected {
  background-color: #40a9ff;
}

.disable {
  background-color: #b1b2b5;
}/*# sourceMappingURL=styles.css.map */